<!DOCTYPE html>
{% load static%}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{name}}</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link href = "{% static 'fonts/stylesheet.css' %}" rel = "stylesheet" type = "text/css">

    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>
<body>
    <div class="wrapper">
        <header>
			<a href="/"><img src="{% static 'img/icon.png' %}" class="logo"></a>
		</header>
            <div class="heading" style="font-size: 70px;">Вход</div>
        <div class="registration-cssave" style="width: 370px; height: 370px; position: absolute; top: 50%; left: 50%; margin: -185px 0 0 -185px;">
            <div class="form-control" style= "height: 30px; width: 240px; margin-left: auto; margin-right: auto;">
                <input class="login_field" style="width: 240px; height: 30px; margin-left: auto; margin-right: auto; outline-style: solid; outline-color: white; border-radius: 5px;" type="text" name="username" maxlength="15" minlength="4" pattern="^[a-zA-Z0-9_.-]*$" id="username" placeholder=" Логин" required>
            </div>
            <div class="form-group" style="margin-left: auto; height: 30px; margin-right: auto; width: 240px; margin-top: 30px;">
                <input class="pass_field" style="width: 240px; height: 30px; outline-style: solid; outline-color: white; border-radius: 5px;" type="password" name="Пароль" minlength="6" id="password" placeholder=" Пароль" required>
            </div>
            <div class = "field_button" style="border-radius: 5px; height: 30px; outline-color: white; outline-style: solid; width: 240px; margin-top: 34px; margin-left: auto; margin-right: auto;"><button style="height: 30px; width: 240px; color: white;" class="login_button">
                Войти
              </button></div>
        </div>
        
    </div>
</body>
</html>