{% extends 'main.html' %}

{% block content %}
	<div class="infoblock" id="id01">
		{% for shop in shop %}
			<div class="main_block Maths">
				<h2>Название: {{shop.title}}</h2>
				<h2>Стоимость: {{shop.price}}</h2>
				<a href = "/shop/" style="z-index: 7; opacity: 1; position: relative; color: rgb(0,0,0); font-size: 130%; margin: 10px 0; margin-top: 900px; font-size: 50px;">Купить</a>
				<img src="{{shop.photo.url}}" alt="{{project.photo}}" srcset="">
			</div>
		{% endfor %}
	</div>
{% endblock content %}